
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
}

body {
 
    color: var(--primary-text-color) ;
    background: #ffffff;
}

.logo {
    color: var(--accent-color);
    }
   
.list {
    list-style:none;
}
.site-nav a {
color: var(--title-text-color);
}
.site-nav .link:hover, 
.site-nav .linl:focus {
    color: var(--accent-color)
    ;
}



.section-title {
    color: var(--title-text-color);
}

.button:hover,
.button:focus {
color: var(--accent-color);
}
.address:hover,
.address:focus {
    color: var(--new-color);
}
.address{
    color: var(--white-text-color);
}