


body {
 
    color: #757575;
    background: #ffffff;
}

.logo {
    color: #2196F3;
    }
   
.list {
    list-style:none;
}
.site-nav a {
color: #212121;
}
.site-nav .link:hover, 
.site-nav .linl:focus {
    color: #2196F3
    ;
}


.section-title {
    color: #212121;
}